@import url('fonts.css');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    background: linear-gradient(180deg, #490B0A 34.66%, #000000 100%);
    position: relative;
    color: #fff;
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    padding: 0 72px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    transition: .3s;
    object-fit: cover;
}

i {
    font-size: 14px;
    margin-left: 4px;
    transition: .4s;
}

button {
    font-family: 'Neucha';
    cursor: pointer;
    border: none;
    outline: none;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 142px;
    height: 28px;
    border-radius: 6px;
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #A91116;
    transition: .4s;
}

.button__head:hover {
    background-color: #a91116d3;
}

.button:hover i {
    transform: translateX(3px);
}

.button__head:hover {
    background-color: #a91116d3;
}

.header {
    display: flex;
    align-items: center;
    background-color: #000000;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.socials-link:first-child {
    margin-right: 15px;
}

.socials-link:hover img {
    transform: translateY(-3px);
}

.home {
    display: flex;
    position: relative;
    justify-content: end;
    margin-bottom: 240px;
}

.home__pics {
    position: absolute;
    top: 0;
    left: -92px;
}

.home__text {
    max-width: 510px;
    text-align: right;
    margin-top: 230px;
}

.home__heading {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 200;
}

.main-heading {
    font-size: 64px;
    position: relative;
    margin-bottom: 22px;
}

.second-heading {
    margin-bottom: 60px;
}

.main-heading::after {
    content: '';
    position: absolute;
    background-image: url('../img/ampersand.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    left: 80px;
    top: 55px;
}

.home__description {
    font-size: 24px;
    line-height: 26px;
    letter-spacing: 0.035em;
}

.home__description:first-of-type {
    margin-bottom: 10px;
}

.collection__first {
    margin-bottom: 180px;
}

.collection__heading {
    font-size: 36px;
    text-align: center;
    font-weight: 200;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.card {
    transition: .4s;
}

.card:hover {
    transform: translateY(-5px);
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.column__second {
    margin-top: 50px;
}

.collection__second {
    margin-bottom: 160px;
}

.collection__subheading {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.collection__second-cards {
    gap: 30px;
}

.footer {
    display: flex;
}

.footer__pic {
    display: flex;
}

.footer__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    padding-bottom: 50px;
}

.footer__logo {
    opacity: .6;
    margin-top: 24px;
    transition: .4s;
}

.footer__logo:hover {
    opacity: 1;
}

.footer__socials {
    margin-top: 24px;
}

.footer__copy {
    font-size: 18px;
    line-height: 20px;
    color: #898989;
    margin-top: 24px;
}

.scrollup {
    position: fixed;
    background-color: #2A2A2A;
    right: 300px;
    bottom: -30%;
    display: flex;
    padding: 7px;
    border-radius: 4px;
    z-index: 9;
    opacity: .5;
    transition: .4s;
}

.show-scroll {
    bottom: 30px;
}

.scrollup:hover {
    opacity: 1;
}

.scrollup__icon {
    font-size: 30px;
    color: #fff;
    margin-left: 0;
}

.button__foot {
    background-color: rgba(169, 17, 22, 0.4);
}

.button__foot:hover {
    background-color: rgba(169, 17, 22, 0.2);
}

::-webkit-scrollbar {
    width: 6px;
    background: linear-gradient(180deg, #490B0A 34.66%, #000000 100%);
}

::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 6px;
}